/* ImageComponent.css */
.image-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
   
    margin-left: 160px;
    margin-top: 100px;
  }
  
  .image-container img {
    
    width: 1200px;
  }
  
  .filter-by {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .filter-by button {
    background-color: #fff;
    color:black;
    padding: 8px 16px;
   border: 2px solid black;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
   
    font-weight: bold;
  }
  