/* App.css */
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* ProductComponent CSS */
.product-cards {
  width:1200px;

  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  justify-items: center; 
  margin-left: 160px;
}

.product-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.product-card .image {
  position: relative;
}
.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 24px; 
  margin-right: 5px; 
  z-index: 1; 
}
.heart-icon:hover {
  color: red;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .image {
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.product-card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.product-card .content {
  padding: 1rem;
}

.product-card .header {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-card .meta {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: sans-serif;
}
.meta-category{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: brown;

}
.meta-price{
  font-size: 1.5rem;
  color: teal;
  margin-top: 2px;

}

.product-card a {
  text-decoration: none;
  color: #333;
}

.product-card p {
  text-align: center;
}


.product-details-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 200px;
}

.product-details {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

}

.product-details-row {
  display: flex;
}

.product-image {
  
  flex: 1;
}

.product-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 8px 0 0 8px; 
}
.product-info {
  flex: 1;
  padding: 1rem;
  border-radius: 0 8px 8px 0; 
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.5rem;
  color: teal;
}

.product-category {
  font-size: 1.2rem;
  color: brown;
  
  margin-bottom: 1rem;
}

.product-description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.add-to-cart-button {
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: teal;
  color: #fff;
  border-radius: 4px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #00766c;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .product-details-row {
    flex-direction: column;
  }

  .product-image {
    max-height: 300px;
  }

  .product-info {
    padding: 1rem 0;
  }

  .product-title {
    font-size: 1.8rem;
  }

  .product-price {
    font-size: 1.3rem;
  }

  .product-category {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 1rem;
  }

  .add-to-cart-button {
    font-size: 1rem;
  }

  /* Adjust ProductComponent grid on smaller screens */
  .product-cards {
    grid-template-columns: repeat(3, 1fr); /* Show three cards in a row on smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .product-cards {
    grid-template-columns: 1fr; /* Show one card in a row on smallest screens */
  }
}
